* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0% 30%, 0 0;
  }
}
body {
  /* color: var(--tertiary-color); */
  font-family: "Helvetica", "Arial", "sans-serif";
}
/* :root {
  --primary-color: #00b894; 
   --secondary-color: ;
    --tertiary-color: ;
} */
.unstyled-list {
  padding-left: 0;
  list-style: none;
}
.unstyled-list a {
  text-decoration: none;
}
header {
  /* background-color: var(--primary-color); */
  background: linear-gradient(
      -50deg,
      rgba(76, 240, 61, 0.336),
      rgba(95, 195, 228, 0.864)
    ),
    url(../images/mountain-hero.jpg) 0 0 / cover no-repeat;
  -webkit-animation: gradientAnimation 40s ease infinite;
  animation: gradientAnimation 40s ease infinite;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  display: inline;
}
header a {
  text-decoration: none;
}
header nav {
  float: right;
  margin: 7px 0;
}
header nav ul li {
  display: inline;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  float: right;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
.hero {
  background: linear-gradient(
      -50deg,
      rgba(76, 240, 61, 0.336),
      rgba(95, 195, 228, 0.864)
    ),
    url(../images/mountain-hero.jpg) 0 0 / cover no-repeat;
  height: 400px;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  -webkit-animation: gradientAnimation 40s ease infinite;
  animation: gradientAnimation 40s ease infinite;
  position: relative;
}
.hero h2 {
  font-size: 35px;
  display: inline;
  color: rgba(248, 212, 212, 0.411); /*Get a better color*/
  position: absolute;
  bottom: 16px;
  padding: 0 475px 0 600px;
}

.primary-border .float-right {
  align-items: right;
}
.float-left .secondary-border {
  margin-bottom: 25px;
}
.section-title {
  font-size: 55px;
  padding: 30px 700px 10px 675px;
  display: inline-block;
}
.section-content {
  flex-wrap: wrap;
  padding-bottom: 10px;
  /* text-align: center; */
  margin: 5px 20px 0 20px;
  /* position: absolute; */
  line-height: 28px;
}
/* about me styling */
#about-me {
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
}
#about-me h2 {
  margin-bottom: 10px;
  /* text-align: center; */
}
#about-me img {
  width: 250px;
  border-radius: 25px;
  float: left;
  margin: 0 15px 0 15px;
}
/* My work section */

.first-web img {
  width: 700px;
}
.second-web img {
  width: 200px;
}

/* Contact me styling */
#contact-me {
  float: left;
}

#contact-me ul li {
  line-height: 25px;
}
#contact-me a img {
  width: 32px;
}
/* Smaller screen formating
/* Media query for smaller desktop screens and smaller */
/* @media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }
  .hero-cta,
  .hero-form {
    width: 100%;
  }
  .hero-cta {
    text-align: center;
  }
  .section-title {
    width: 80%;
  }
  .trainer {
    flex: 0 70%;
  }
  .contact-info iframe {
    flex: 1 100%;
  }
} */
/* Media query for tablets and smaller 
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  .step h3 {
    flex: 1 100%;
    text-align: center;
  }
  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }
  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .step-text {
    flex: 100%;
  }
}
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }
  .section-title {
    width: 95%;
  }
  .intro p {
    width: 100%;
  }
  .trainer {
    flex: 0 100%;
  }
  .contact-info {
    text-align: center;
  }
  .contact-info > * {
    flex: 0 100%;
  }
  .contact-form {
    order: 3;
  }
}  */
