* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0% 30%, 0 0;
  }
}
body {
  /* color: var(--tertiary-color); */
  font-family: "Helvetica", "Arial", "sans-serif";
}
/* :root {
  --primary-color: #00b894; 
   --secondary-color: ;
    --tertiary-color: ;
} */
.unstyled-list {
  padding-left: 0;
  list-style: none;
}
.unstyled-list a {
  text-decoration: none;
}
header {
  /* background-color: var(--primary-color); */
  background: linear-gradient(
      -50deg,
      rgba(76, 240, 61, 0.336),
      rgba(95, 195, 228, 0.864)
    ),
    url(../images/mountain-hero.jpg) 0 0 / cover no-repeat;
  -webkit-animation: gradientAnimation 40s ease infinite;
  animation: gradientAnimation 40s ease infinite;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  display: inline;
}
header a {
  text-decoration: none;
}
header nav {
  float: right;
  margin: 7px 0;
}
header nav ul li {
  display: inline;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  float: right;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
.hero {
  background: linear-gradient(
      -50deg,
      rgba(76, 240, 61, 0.336),
      rgba(95, 195, 228, 0.864)
    ),
    url(../images/mountain-hero.jpg) 0 0 / cover no-repeat;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-animation: gradientAnimation 40s ease infinite;
  animation: gradientAnimation 40s ease infinite;
  position: relative;
}
.hero h2 {
  text-align: center;
  align-items: flex-end;
}
aside {
  float: left;
}
aside img {
  width: 300px;
  border-radius: 25px;
}
#about-me {
  display: flex;
  flex-wrap: wrap;
}
#about-me h2 {
  display: center;
}
